segnatura_protocollo.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:prot="http://www.agid.gov.it/protocollo/"
	xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
	
	targetNamespace="http://www.agid.gov.it/protocollo/" 
	
	elementFormDefault="qualified" 
	attributeFormDefault="qualified"          
	
	version="3.0"		  
	> 
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="import_schemas/xmldsig-core-schema.xsd"/>
	
	<xs:element name="SegnaturaInformatica" type="prot:SegnaturaInformaticaType"/>
	
	<xs:complexType name="SegnaturaInformaticaType">
		<xs:annotation>
			<xs:documentation>
				La segnatura di protocollo contine i metadati relativi ad un messaggio di protocollo.
				
				Un messaggio di protocollo è determinato da:
				- documento primario
				- eventuali allegati
				- la segnatura di protocollo qui definita
				
				La segnatura di protocollo è associata in forma permanente al documento primario e agli allegati che con esso formano il messaggio di protocollo
				includendo nella segnatatura di protocollo le impronte (digest) del documento primario e degli allegati e assicurando l’autenticità e integrità
				della segnatura di protocollo firmando la stessa implementando il profilo XAdES baseline B level signatures definito in ETSI EN 319 132-1 v1.1.1				
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Intestazione" type="prot:IntestazioneType"/>			
			<xs:element name="Descrizione" type="prot:DescrizioneType"/>					
			<xs:element ref="ds:Signature"/>
		</xs:sequence>
		<xs:attribute name="versione" type="xs:NMTOKEN" fixed="3.0.0" use="required"/>
		<xs:attribute name="lang" type="xs:NMTOKEN" fixed="it" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="IntestazioneType">
		<xs:annotation>
			<xs:documentation>
				L'intestazione contiene gli elementi essenziali di identificazione e caratterizzazione amministrativa del messaggio di protocollato. 
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Identificatore" type="prot:IdentificatoreType"/>
			<xs:element name="Oggetto" type="xs:string"/>									
			<xs:element name="Classifica" type="prot:ClassificaType" />			
			<xs:element name="Fascicolo" type="prot:FascicoloType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="FascicoloType">
		<xs:annotation>
			<xs:documentation>
				Il fascicolo riporta il riferimento al fascicolo prevedendo la Denominazione e il relativo CodiceFascicolo
			</xs:documentation>
		</xs:annotation>		
		<xs:sequence>
			<xs:element name="Denominazione" type="xs:string"/>
			<xs:element name="CodiceFascicolo" type="xs:string"/>				
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="IdentificatoreType">
		<xs:annotation>
			<xs:documentation>
				Contiene le informazioni identificative riferite alla segnatura di protocollo.
			</xs:documentation>
		</xs:annotation>		
		<xs:sequence>
			<xs:element name="CodiceAmministrazione" type="prot:CodiceAmministrazioneType"/>
			<xs:element name="CodiceAOO" type="prot:CodiceAOOType"/>
			<xs:element name="CodiceRegistro" type="prot:CodiceRegistroType"/>
			<xs:element name="NumeroRegistrazione" type="prot:NumeroRegistrazioneType"/>			
			<xs:element name="DataRegistrazione" type="xs:date"/>
			<xs:element name="OraRegistrazione" type="xs:time" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="DescrizioneType">
		<xs:sequence>	
			<xs:element name="Mittente" type="prot:SoggettoType" minOccurs="0"/>
			<xs:element name="Destinatario" type="prot:SoggettoType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="DocumentoPrimario" type="prot:DocumentoType"/>			
			<xs:element name="Allegati" type="prot:DocumentoType" minOccurs="0" maxOccurs="unbounded"/>						
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="DocumentoType">  
		<xs:sequence>
			<xs:element name="Tipologia" type="xs:string" minOccurs="0"/>
			<xs:element name="Descrizione" type="xs:string" minOccurs="0"/>
			<xs:element name="Impronta" type="prot:ImprontaType"/>			
		</xs:sequence>
		<xs:attribute name="nomeFile" type="xs:string" use="required"/>
		<xs:attribute name="mimeType" type="xs:string" use="required"/>
		<xs:attribute name="firmatoDigitalmente" type="xs:boolean"/>
		<xs:attribute name="marcaturaTemporale" type="xs:boolean"/>
		<xs:attribute name="sigillatoElettronicamente" type="xs:boolean"/>
	</xs:complexType>
	
	<xs:complexType name="SoggettoType">
		<xs:choice>
			<xs:element name="Persona" type="prot:PersonaType"/>
			
			<xs:sequence>			
				<xs:element name="Denominazione" type="xs:string"/>			
				<xs:choice>
					<xs:element name="Contatti" type="prot:ContattiType"/>				
					<xs:element name="UnitaOrganizzativa" type="prot:SoggettoType"/>
					<xs:element name="Persona" type="prot:PersonaType"/>				
				</xs:choice>
			</xs:sequence>
		</xs:choice>				
	</xs:complexType>
	
	<xs:complexType name="IndirizzoPostaleType">		
		<xs:sequence>
			<xs:element name="Toponimo" type="prot:ToponimoType"/>
			<xs:element name="Civico" type="xs:string"/>            
			<xs:element name="CAP" type="prot:CAPType"/>
			<xs:element name="Comune" type="prot:ComuneType"/>
			<xs:element name="Provincia" type="xs:string"/>
			<xs:element name="Nazione" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ToponimoType">
		<xs:sequence>
			<!-- denominazione urbanistica generica o qualitficatore del toponimo (e.g., via, viale, piazza, ecc.) -->
			<xs:element name="dug" type="xs:string"/>
			<!-- denominazione urbanistica ufficiale o nome della strada -->
			<xs:element name="duf" type="xs:string"/>
		</xs:sequence>		
	</xs:complexType>
	
	<xs:simpleType name="CAPType">		
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="ComuneType">		
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="CodiceISTAT" type="prot:CodiceISTATType"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:simpleType name="CodiceISTATType">		
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="TelefonoType">		
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="note" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="ImprontaType">		
		<xs:simpleContent>
			<xs:extension base="xs:base64Binary">
				<xs:attribute name="algoritmo" type="xs:string" default="SHA-256"/>				
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="ClassificaType">		
		<xs:sequence>
			<xs:element name="Denominazione" type="xs:string"/>
			<xs:choice>
				<xs:element name="Codice" type="xs:string"/>
				<xs:element name="Livello" type="prot:LivelloType" maxOccurs="unbounded"/>	
			</xs:choice>			
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="LivelloTypeEx">		
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="nome" type="xs:string"/>
				<xs:attribute name="ordine" type="xs:integer"/>
			</xs:extension>            
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="LivelloType">
		<xs:sequence>
			<xs:element name="Codice">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="descrizione" type="xs:string" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="SubLivello" type="prot:LivelloType" minOccurs="0"/>
		</xs:sequence>			
	</xs:complexType>
	
	<xs:complexType name="PersonaType">		
		<xs:sequence>
			<xs:element name="Nome" type="xs:string"/>					
			<xs:element name="Cognome" type="xs:string"/>					
			<xs:element name="Titolo" type="xs:string" minOccurs="0"/>
			<xs:element name="CodiceFiscale" type="prot:CodiceFiscaleType" minOccurs="0"/>
			<xs:element name="Identificativo" type="xs:string" minOccurs="0"/>
			<xs:element name="Ruolo" type="xs:string" minOccurs="0"/>	
			<xs:element name="Contatti" type="prot:ContattiType">								
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ContattiType">
		<xs:sequence>
			<xs:element name="IndirizzoPostale" type="prot:IndirizzoPostaleType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="IndirizzoTelematico" type="prot:IndirizzoTelematicoType" maxOccurs="unbounded"/>
			<xs:element name="Telefono" type="prot:TelefonoType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="CodiceFiscaleType">		
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6}[0-9LMNPQRSTUV]{2}[ABCDEHLMPRST][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="IdentificativoType">		
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Za-z0-9_\.\-]{1,16}"/>
		</xs:restriction>  
	</xs:simpleType>
	
	<xs:complexType name="CodiceAmministrazioneType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="descrizione" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="CodiceAOOType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="descrizione">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="[A-Za-z0-9_\.\-]{1,16}"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:simpleType name="CodiceRegistroType">		
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Za-z0-9_\.\-]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="NumeroRegistrazioneType">			
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{7,}"/>
		</xs:restriction>  
	</xs:simpleType>
	
	<xs:complexType name="IndirizzoTelematicoType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="tipo" default="smtp">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="url"/>
							<xs:enumeration value="smtp"/>
							<xs:enumeration value="other"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="note" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
</xs:schema>
