interfaces_SOAP/protocollo-destinatario.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:tns="http://ws.protocollo.comunicazione.aoo.destinatario/" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:soapbind="http://schemas.xmlsoap.org/soap/http" 
  name="ProtocolloDestinatarioService" 
  targetNamespace="http://ws.protocollo.comunicazione.aoo.destinatario/">
 
  <wsdl:types>

    <xs:schema 
      xmlns:xs="http://www.w3.org/2001/XMLSchema"
      xmlns:msgprot="http://www.agid.gov.it/protocollo/messaggi/"
      xmlns:prot="http://www.agid.gov.it/protocollo/"
      xmlns:tns="http://ws.protocollo.comunicazione.aoo.destinatario/" 
      targetNamespace="http://ws.protocollo.comunicazione.aoo.destinatario/" 
      elementFormDefault="qualified" version="1.0">

      <xs:import namespace="http://www.agid.gov.it/protocollo/messaggi/" schemaLocation="../messaggio_protocollo.xsd"/>
      <xs:import namespace="http://www.agid.gov.it/protocollo/" schemaLocation="../segnatura_protocollo.xsd"/>


      <xs:element name="RequestMessageInoltro" type="tns:RequestMessaggioInoltroType"/>
      <xs:element name="ResponseMessageInoltro" type="tns:ResponseMessaggioInoltroType"/>

      <xs:element name="RequestAnnullamentoInoltroMittente" type="tns:RequestAnnullamentoInoltroMittenteType"/>
      <xs:element name="ResponseAnnullamentoInoltroMittente" type="tns:ResponseAnnullamentoInoltroMittenteType"/>
      
   

      <xsd:complexType name="RequestMessaggioInoltroType">
        <xs:complexContent>
          <xs:extension base="msgprot:MessaggioProtocolloType"></xs:extension>
        </xs:complexContent>
      </xsd:complexType>

      <xsd:complexType name="ResponseMessaggioInoltroType">
        <xsd:sequence>
          <xsd:element name="Identificatore" type="prot:IdentificatoreType"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="RequestAnnullamentoInoltroMittenteType">
        <xsd:sequence>
          <xsd:element name="Identificatore" type="prot:IdentificatoreType"/>
          <xsd:element name="RiferimentoProvvedimento" type="xsd:string"/>
          <xsd:element name="Note" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ResponseAnnullamentoInoltroMittenteType">
        <xsd:sequence>
          <xsd:element name="Identificatore" type="prot:IdentificatoreType"/>
          <xsd:choice minOccurs="0">
            <xsd:element name="MotivoIrricevibilita" type="xsd:string"/>
            <xsd:element name="NonPresente" type="xsd:boolean" fixed="true"/>
          </xsd:choice>
        </xsd:sequence>
      </xsd:complexType>
      
      
      
      <!-- DATA TYPE -->
      
      <xsd:simpleType name="AnomalieType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="001_ValidazioneFirma"/>
          <xsd:enumeration value="002_AnomaliaImpronte"/>
        </xsd:restriction>
      </xsd:simpleType>
      
      

    </xs:schema>
  </wsdl:types>

  
  <wsdl:message name="RequestMessageInoltro">
    <wsdl:part element="tns:RequestMessageInoltro" name="parameters"> </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="ResponseMessageInoltro">
    <wsdl:part element="tns:ResponseMessageInoltro" name="parameters"> </wsdl:part>
  </wsdl:message>
 
  <wsdl:message name="RequestAnnullamentoInoltroMittente">
    <wsdl:part element="tns:RequestAnnullamentoInoltroMittente" name="parameters"> </wsdl:part>
  </wsdl:message>
 
  <wsdl:message name="ResponseAnnullamentoInoltroMittente">
    <wsdl:part element="tns:ResponseAnnullamentoInoltroMittente" name="parameters"> </wsdl:part>
  </wsdl:message>
  
  

  <wsdl:portType name="ProtocolloDestinatarioPortType">
    <wsdl:operation name="MessaggioInoltro">
      <wsdl:input message="tns:RequestMessageInoltro" name="RequestMessageInoltro"> </wsdl:input>
      <wsdl:output message="tns:ResponseMessageInoltro" name="ResponseMessageInoltro"> </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnnullamentoInoltroMittente">
      <wsdl:input message="tns:RequestAnnullamentoInoltroMittente" name="RequestAnnullamentoInoltroMittente"> </wsdl:input>
      <wsdl:output message="tns:ResponseAnnullamentoInoltroMittente" name="ResponseAnnullamentoInoltroMittente"> </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="ProtocolloDestinatarioServiceBinding" type="tns:ProtocolloDestinatarioPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="MessaggioInoltro">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="RequestMessageInoltro">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ResponseMessageInoltro">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnnullamentoInoltroMittente">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="RequestAnnullamentoInoltroMittente">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ResponseAnnullamentoInoltroMittente">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProtocolloDestinatarioService">
    <wsdl:port binding="tns:ProtocolloDestinatarioServiceBinding" name="ProtocolloDestinatarioService">
      <soap:address location="http://localhost:8080/proto-test/protocollo/destinatario"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>