interfaces_SOAP/protocollo-destinatario.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:tns="http://ws.protocollo.comunicazione.aoo.destinatario/" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:soapbind="http://schemas.xmlsoap.org/soap/http" 
  name="ProtocolloDestinatarioService" 
  targetNamespace="http://ws.protocollo.comunicazione.aoo.destinatario/">
 
  <wsdl:types>

    <xs:schema 
      xmlns:xs="http://www.w3.org/2001/XMLSchema"
      xmlns:msgprot="http://www.agid.gov.it/protocollo/messaggi/"
      xmlns:prot="http://www.agid.gov.it/protocollo/"
      xmlns:tns="http://ws.protocollo.comunicazione.aoo.destinatario/" 
      targetNamespace="http://ws.protocollo.comunicazione.aoo.destinatario/" 
      elementFormDefault="qualified" version="1.0">

      <xs:import namespace="http://www.agid.gov.it/protocollo/messaggi/" schemaLocation="../messaggio_protocollo.xsd"/>
      <xs:import namespace="http://www.agid.gov.it/protocollo/" schemaLocation="../segnatura_protocollo_slim.xsd"/>


      <xs:element name="inoltro" type="tns:InoltroType"/>
      <xs:element name="inoltroResponse" type="tns:InoltroResponseType"/>

      <xs:element name="annullamentoInoltro" type="tns:AnnullamentoInoltroType"/>
      <xs:element name="annullamentoInoltroResponse" type="tns:AnnullamentoInoltroResponseType"/>
     
     
      <xs:complexType name="InoltroType">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="tns:RequestMessaggioInoltroType"/>
        </xs:sequence>
      </xs:complexType>
      
      <xs:complexType name="InoltroResponseType">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:ResponseMessaggioInoltroType"/>
        </xs:sequence>
      </xs:complexType>
      
      
      <xs:complexType name="AnnullamentoInoltroType">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="tns:RequestAnnullamentoInoltroMittenteType"/>
        </xs:sequence>
      </xs:complexType>
      
      <xs:complexType name="AnnullamentoInoltroResponseType">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:ResponseAnnullamentoInoltroMittenteType"/>
        </xs:sequence>
      </xs:complexType>

      <xsd:complexType name="RequestMessaggioInoltroType">
        <xs:sequence>
          <xs:element name="messaggio" type="msgprot:MessaggioProtocolloType"/>
        </xs:sequence>
      </xsd:complexType>

      <xsd:complexType name="ResponseMessaggioInoltroType">
        <xsd:sequence>
          <xsd:element name="Identificatore" type="prot:IdentificatoreType"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="RequestAnnullamentoInoltroMittenteType">
        <xsd:sequence>
          <xsd:element name="Identificatore" type="prot:IdentificatoreType"/>
          <xsd:element name="RiferimentoProvvedimento" type="xsd:string"/>
          <xsd:element name="Note" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ResponseAnnullamentoInoltroMittenteType">
        <xsd:sequence>
          <xsd:element name="Identificatore" type="prot:IdentificatoreType"/>
          <xsd:choice minOccurs="0">
            <xsd:element name="MotivoIrricevibilita" type="xsd:string"/>
            <xsd:element name="NonPresente" type="xsd:boolean" fixed="true"/>
          </xsd:choice>
        </xsd:sequence>
      </xsd:complexType>

    </xs:schema>
  </wsdl:types>

  
  <wsdl:message name="inoltro">
    <wsdl:part element="tns:inoltro" name="parameters"> </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="inoltroResponse">
    <wsdl:part element="tns:inoltroResponse" name="parameters"> </wsdl:part>
  </wsdl:message>
 
  <wsdl:message name="annullamentoInoltro">
    <wsdl:part element="tns:annullamentoInoltro" name="parameters"> </wsdl:part>
  </wsdl:message>
 
  <wsdl:message name="annullamentoInoltroResponse">
    <wsdl:part element="tns:annullamentoInoltroResponse" name="parameters"> </wsdl:part>
  </wsdl:message>
  
  

  <wsdl:portType name="ProtocolloDestinatarioPortType">
    <wsdl:operation name="inoltro">
      <wsdl:input message="tns:inoltro" name="inoltro"> </wsdl:input>
      <wsdl:output message="tns:inoltroResponse" name="inoltroResponse"> </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="annullamentoInoltro">
      <wsdl:input message="tns:annullamentoInoltro" name="annullamentoInoltro"> </wsdl:input>
      <wsdl:output message="tns:annullamentoInoltroResponse" name="annullamentoInoltroResponse"> </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="ProtocolloDestinatarioServiceBinding" type="tns:ProtocolloDestinatarioPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="inoltro">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="inoltro">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="inoltroResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="annullamentoInoltro">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="annullamentoInoltro">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="annullamentoInoltroResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProtocolloDestinatarioService">
    <wsdl:port binding="tns:ProtocolloDestinatarioServiceBinding" name="ProtocolloDestinatarioService">
      <soap:address location="http://localhost:8080/proto-test/protocollo/destinatario"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>