interfaces_SOAP/protocollo-mittente.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:tns="http://ws.protocollo.comunicazione.aoo.mittente/" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:soapbind="http://schemas.xmlsoap.org/soap/http" 
  name="ProtocolloDestinatarioService" 
  targetNamespace="http://ws.protocollo.comunicazione.aoo.mittente/">
  
  
  <wsdl:types>
    
    <xs:schema 
      xmlns:xs="http://www.w3.org/2001/XMLSchema"
      xmlns:msgprot="http://www.agid.gov.it/protocollo/messaggi/"
      xmlns:prot="http://www.agid.gov.it/protocollo/"
      xmlns:tns="http://ws.protocollo.comunicazione.aoo.mittente/" 
      targetNamespace="http://ws.protocollo.comunicazione.aoo.mittente/" 
      elementFormDefault="qualified" version="1.0">
      
      
      <xs:import namespace="http://www.agid.gov.it/protocollo/messaggi/" schemaLocation="../messaggio_protocollo.xsd"/>
      <xs:import namespace="http://www.agid.gov.it/protocollo/" schemaLocation="../segnatura_protocollo.xsd"/>
      
      <xs:element name="confermaInoltro" type="tns:ConfermaInoltroType"/>
      <xs:element name="confermaInoltroResponse" type="tns:ConfermaInoltroResponseType"/>
      
      <xs:element name="annullamentoInoltro" type="tns:AnnullamentoInoltroType"/>
      <xs:element name="annullamentoInoltroResponse" type="tns:AnullamentoInoltroResponseType"/>
      
      <xs:complexType name="ConfermaInoltroType">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="tns:RequestConfermaMessaggioInoltroType"/>
        </xs:sequence>
      </xs:complexType>
     
      <xs:complexType name="ConfermaInoltroResponseType">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:ResponseConfermaMessaggioInoltroType"/>
        </xs:sequence>
      </xs:complexType>
      
      
      <xs:complexType name="AnnullamentoInoltroType">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="tns:RequestAnnullamentoInoltroDestinatarioType"/>
        </xs:sequence>
      </xs:complexType>
      
      <xs:complexType name="AnullamentoInoltroResponseType">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:ResponseAnnullamentoInoltroDestinatarioType"/>
        </xs:sequence>
      </xs:complexType>
      
      <xsd:complexType name="RequestConfermaMessaggioInoltroType">
        <xsd:sequence>
          <xsd:element name="Identificatore" type="prot:IdentificatoreType"/>
          <xsd:choice minOccurs="0">
            <xsd:element name="Irricevibilità" type="xsd:string"/>
            <xsd:element name="Anomalia" type="tns:AnomalieType" />    
          </xsd:choice>                                
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="ResponseConfermaMessaggioInoltroType">
        <xsd:sequence>
          <xsd:element name="Identificatore" type="prot:IdentificatoreType"/>
        </xsd:sequence>
      </xsd:complexType>  
      
      <xsd:complexType name="RequestAnnullamentoInoltroDestinatarioType">
        <xsd:sequence>
          <xsd:element name="Identificatore" type="prot:IdentificatoreType"/>
          <xsd:element name="RiferimentoProvvedimento" type="xsd:string"/>
          <xsd:element name="Note" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="ResponseAnnullamentoInoltroDestinatarioType">
        <xsd:sequence>
          <xsd:element name="Identificatore" type="prot:IdentificatoreType"/>
          <xsd:choice minOccurs="0">
            <xsd:element name="MotivoIrricevibilita" type="xsd:string"/>
            <xsd:element name="NonPresente" type="xsd:boolean" fixed="true"/>    
          </xsd:choice>          
        </xsd:sequence>
      </xsd:complexType>
      

      <!-- DATA TYPE -->
      
      <xsd:simpleType name="AnomalieType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="001_ValidazioneFirma"/>
          <xsd:enumeration value="002_AnomaliaImpronte"/>
          <xsd:enumeration value="003_DocumentoAllegatiNonLeggibili"/>
        </xsd:restriction>
      </xsd:simpleType>
      

    </xs:schema>

  </wsdl:types>
  
  
  <wsdl:message name="confermaInoltro">
    <wsdl:part element="tns:confermaInoltro" name="parameters">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="confermaInoltroResponse">
    <wsdl:part element="tns:confermaInoltroResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="annullamentoInoltro">
    <wsdl:part element="tns:annullamentoInoltro" name="parameters">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="annullamentoInoltroResponse">
    <wsdl:part element="tns:annullamentoInoltroResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  
  
  <wsdl:portType name="ProtocolloMittentePortType">
    
    <wsdl:operation name="confermaInoltro">
      <wsdl:input message="tns:confermaInoltro" name="confermaInoltro">
      </wsdl:input>
      <wsdl:output message="tns:confermaInoltroResponse" name="confermaInoltroResponse">
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="annullamentoInoltro">
      <wsdl:input message="tns:annullamentoInoltro" name="annullamentoInoltro">
    </wsdl:input>
      <wsdl:output message="tns:annullamentoInoltroResponse" name="annullamentoInoltroResponse">
    </wsdl:output>
    </wsdl:operation>
   
  </wsdl:portType>
  
  
  <wsdl:binding name="ProtocolloMittenteServiceBinding" type="tns:ProtocolloMittentePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    
    <wsdl:operation name="confermaInoltro">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="confermaInoltro">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="confermaInoltroResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="annullamentoInoltro">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="annullamentoInoltro">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="annullamentoInoltroResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
   
  </wsdl:binding>
  
  <wsdl:service name="ProtocolloMittenteService">
    <wsdl:port binding="tns:ProtocolloMittenteServiceBinding" name="ProtocolloMittenteService">
      <soap:address location="http://localhost:8080/proto-test/protocollo/mittente"/>
    </wsdl:port>
  </wsdl:service>
    
	

</wsdl:definitions>